{% extends 'default.html' %}

{% load custom_tags %}


{% block content %}

   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>

<hr>

    {% if perms.forms.na_create %}
    <a href="{% url 'na_create' %}">Добавить товар</a>
    {% endif %}


   {% if informs %}
       <table>
           <tr>
               <td>Id</td>
               <td>Название</td>
               <td>Описание</td>
               <td>Категория</td>
               <td>Дата создания</td>

               {# Условие получается составным. #}
                {% if perms.forms.na_edit or perms.forms.na_delete %}
                <td>Действия</td>
                {% endif %}

           </tr>

           {% for inform in informs %}
           <tr>
               <td>{{ inform.id }}</td>
               <td>{{ inform.name }}</td>
               <td>{{ inform.description }}</td>
               <td>{{ inform.category }}</td>
               <td>{{ inform.added_at }}</td>

               <td>
                   {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}
                    {% if perms.forms.na_edit %}
                    <a href="{% url 'na_edit' pk=inform.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.forms.na_delete %}
                    <a href="{% url 'na_delete' inform.id %}">Удалить</a>
                    {% endif %}
               </td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Записи отсутствуют!</h2>
   {% endif %}

   {% if page_obj.has_previous %}

       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}